{
    "objects": [
        [
            {
                "filename": "grub-efi-bootx64.efi",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/vda1",
                "target-path": "/efi/boot/bootx64.efi",
                "target-type": "device"
            },
            {
                "chunk-size": 131072,
                "count": -1,
                "filename": "$IMAGE_BASENAME-$MACHINE.rootfs.ext4.gz",
                "install-condition": "always",
                "mode": "raw",
                "seek": 0,
                "skip": 0,
                "target": "/dev/vda2",
                "target-type": "device",
                "truncate": false
            }
        ],
        [
            {
                "filename": "grub-efi-bootx64.efi",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/vda1",
                "target-path": "/efi/boot/bootx64.efi",
                "target-type": "device"
            },
            {
                "chunk-size": 131072,
                "count": -1,
                "filename": "$IMAGE_BASENAME-$MACHINE.rootfs.ext4.gz",
                "install-condition": "always",
                "mode": "raw",
                "seek": 0,
                "skip": 0,
                "target": "/dev/vda3",
                "target-type": "device",
                "truncate": false
            }
        ]
    ],
    "product": "668a2f52ee5a160e729ae182460568962afadc2802bbce2aa948ada070b6f795",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
