{
    "objects": [
        [
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/hda2",
                "target-path": "/",
                "target-type": "device"
            },
            {
                "filename": "u-boot-payload.efi",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/hda1",
                "target-path": "/efi/boot/bootia32.efi",
                "target-type": "device"
            }
        ],
        [
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/hda3",
                "target-path": "/",
                "target-type": "device"
            },
            {
                "filename": "u-boot-payload.efi",
                "filesystem": "vfat",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "/dev/hda1",
                "target-path": "/efi/boot/bootia32.efi",
                "target-type": "device"
            }
        ]
    ],
    "product": "668a2f52ee5a160e729ae182460568962afadc2802bbce2aa948ada070b6f795",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
