{
    "objects": [
        [
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.ubifs",
                "mode": "ubifs",
                "target": "rootfsa",
                "target-type": "ubivolume"
            }
        ],
        [
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.ubifs",
                "mode": "ubifs",
                "target": "rootfsb",
                "target-type": "ubivolume"
            }
        ]
    ],
    "product": "22df8f163da9d3b986abe81b0335028f0f525eba49391e12fa2c5f5e0a6bd55b",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
